.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --primeri-white-color: #FFFFFF;
  --primery--black-color: #111518;
  --secondary-color: #B9B9B9;
  --accent-color: #FF6B09;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-style: normal;
  color: var(--primeri-white-color);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner__program {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner__program {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner__program {
    width: 768px;
  }
}
@media screen and (min-width: 1680px) {
  .conteiner__program {
    width: 1680px;
  }
}

.program {
  margin: 0;
  width: 100%;
  background-color: var(--primery--black-color);
}
@media screen and (max-width: 1679px) {
  .program {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .program {
    padding-top: 40px;
    margin: 0;
  }
}
@media screen and (min-width: 1680px) {
  .program {
    width: 1680px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1679px) {
  .section-title {
    margin: 0;
    margin-bottom: 40px;
    padding-left: 32px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1680px) {
  .section-title {
    margin: 0;
    margin-bottom: 88px;
    padding-left: 16px;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1680px) {
  .semestr-list__title {
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1679px) {
  .semestr-list__title {
    padding-left: 113px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .semestr-list__title {
    padding-left: 12px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1680px) {
  .program-list {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 156px;
    padding-right: 164px;
    margin-bottom: 127px;
  }
}
@media screen and (max-width: 1679px) {
  .program-list {
    position: relative;
    padding: 0;
    margin-left: 103px;
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 1680px) {
  .program-list__item {
    width: 240px;
  }
}
@media screen and (max-width: 1679px) {
  .program-list__item {
    position: relative;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .program-list__item {
    margin: 0;
    padding: 0;
    padding-top: -10px;
    padding-left: 26px;
  }
}

.program-list::before {
  background-color: var(--primeri-white-color);
}
@media screen and (min-width: 1680px) {
  .program-list::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
  }
}

@media screen and (min-width: 1680px) {
  .program-list__item::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: var(--accent-color);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    transform: translate(0, -8px);
  }
}
@media screen and (max-width: 1679px) {
  .program-list__item::before {
    position: absolute;
    left: 9px;
    content: "";
    width: 16px;
    height: 16px;
    background: var(--accent-color);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    transform: translate(-17px, -8px);
  }
}
@media screen and (max-width: 767px) {
  .program-list__item::before {
    position: absolute;
    left: 0;
    content: "";
    width: 12px;
    height: 12px;
    background: var(--accent-color);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    transform: translate(-6px, -8px);
  }
}

@media screen and (min-width: 1680px) {
  .program-list__item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1679px) {
  .program-list__item:not(:last-child) {
    margin: 0;
    padding-bottom: 40px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--primeri-white-color);
  }
}
@media screen and (max-width: 767px) {
  .program-list__item:not(:last-child) {
    margin: 0;
    padding-bottom: 40px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--primeri-white-color);
  }
}

@media screen and (min-width: 1680px) {
  .semestr-list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1679px) {
  .semestr-list {
    display: flex;
    margin-top: 4px;
    padding: 0;
    padding-left: 113px;
  }
}
@media screen and (max-width: 767px) {
  .semestr-list {
    flex-direction: column;
    margin-top: 4px;
    margin-left: -15px;
    padding-left: 26px;
  }
}

@media screen and (max-width: 1679px) {
  .semestr-list__item:not(:last-child) {
    width: 152px;
    margin-right: 32px;
  }
}

.grammar,
.vocabulary,
.writing {
  color: var(--accent-color);
}
@media screen and (min-width: 1680px) {
  .grammar,
.vocabulary,
.writing {
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.08em;
  }
}
@media screen and (max-width: 1679px) {
  .grammar,
.vocabulary,
.writing {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
  }
}
@media screen and (max-width: 767px) {
  .grammar,
.vocabulary,
.writing {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.65;
    letter-spacing: 0.08em;
  }
}

.grammar-list__item,
.vocabulary-list__item,
.writing-list__item {
  color: var(--secondary-color);
}
@media screen and (max-width: 1679px) {
  .grammar-list__item,
.vocabulary-list__item,
.writing-list__item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
  }
}
@media screen and (min-width: 1680px) {
  .grammar-list__item,
.vocabulary-list__item,
.writing-list__item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: 1680px) {
  .semestr-list__numbers {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1679px) {
  .semestr-list__numbers {
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

.program-list::after {
  opacity: 0.5;
}
@media screen and (max-width: 1679px) {
  .program-list::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 368px;
    height: 268px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("../images/program-tablet-min.jpg");
  }
}
@media screen and (max-width: 1679px) and (min-device-pixel-ratio: 2), screen and (max-width: 1679px) and (min-resolution: 192dpi), screen and (max-width: 1679px) and (min-resolution: 2dppx) {
  .program-list::after {
    background-image: url("../images/program-mobile@2x-min.jpg");
  }
}
@media screen and (min-width: 1680px) {
  .program-list::after {
    position: absolute;
    content: "";
    width: 684px;
    height: 381px;
    bottom: 0;
    left: 0;
    transform: translateY(207px);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("../images/program-desktop-min.jpg");
  }
}
@media screen and (min-width: 1680px) and (min-device-pixel-ratio: 2), screen and (min-width: 1680px) and (min-resolution: 192dpi), screen and (min-width: 1680px) and (min-resolution: 2dppx) {
  .program-list::after {
    background-image: url("../images/program-desktop@2x-min.jpg");
  }
}
@media screen and (max-width: 767px) {
  .program-list::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 150px;
    height: 137px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/program-mobile-min.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .program-list::after {
    background-image: url("../images/program-mobile@2x-min.jpg");
  }
}/*# sourceMappingURL=main.css.map */