$accent-color: #FF6B09;
$bg-color-white: #FFFFFF;
$bg-color-dark: #111518;
$bg-color-lightgrey: #F1F1F1;

$text-color-dark: #111518;
$text-color-lightgrey: #B9B9B9;
$text-color-white: #FFFFFF;
$text-color-grey: #3D3D3D;

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.08em;
    color: $text-color-white;
    background-color: $bg-color-dark;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner__program {
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1680px) {
        width: 1680px;
    }
}


.program {
    margin: 0;
    width: 100%;
 
    @media screen and (max-width: 1679px) {
        padding-top: 60px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 40px;
        margin: 0;
    }
    @media screen and (min-width: 1680px) {
        width: 1680px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    background-color: $text-color-dark;
}

.section-title {

    @media screen and (max-width: 767px) {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.30;
        letter-spacing: 0.03em;
    }

    @media screen and (max-width: 1679px) {
        margin: 0;
        margin-bottom: 40px;
        padding-left: 32px;
        font-weight: 800;
        font-size: 26px;
        line-height: 1.30;
        letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1680px) {
        margin: 0;
        margin-bottom: 88px;
        padding-left: 16px;
        font-weight: 800;
        font-size: 46px;
        line-height: 1.30;
        letter-spacing: 0.03em;
    }
}

.semestr-list__title {

    @media screen and (min-width: 1680px) {
        margin-top: 40px;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 2.0;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 1679px) {
        padding-left: 113px;
        font-weight: 700;
        font-size: 14px;
        line-height: 2.0;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 767px) {
        // margin-top: 6px;
        padding-left: 12px;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 2.0;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

}

.program-list {
    @media screen and (min-width: 1680px) {
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        padding-left: 156px;
        padding-right: 164px;
        margin-bottom: 127px;
    }

    @media screen and (max-width: 1679px) {
        position: relative;
        padding: 0;
        margin-left: 103px;
        padding-bottom: 110px;
    }

    @media screen and (max-width: 767px) {
        // 
    }
}


.program-list__item {
    
    @media screen and (min-width: 1680px) {
        width: 240px;
    }

    @media screen and (max-width: 1679px) {
        position: relative;
        margin: 0;
        }

    @media screen and (max-width: 767px) {
        margin: 0;
        padding: 0;
        padding-top: -10px;
        padding-left: 26px;


    }
}

.program-list::before {
    background-color: $text-color-white;

    @media screen and (min-width: 1680px) {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
    }
}

.program-list__item::before {

    @media screen and (min-width: 1680px) {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background: $accent-color;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        transform: translate(0, -8px);
    }

    @media screen and (max-width: 1679px) {
        position: absolute;
        left: 9px;
        content: "";
        width: 16px;
        height: 16px;
        background: $accent-color;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        transform: translate(-17px, -8px);
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        left: 0;
        content: "";
        width: 12px;
        height: 12px;
        background: $accent-color;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        transform: translate(-6px, -8px);

    }

}

.program-list__item:not(:last-child) {

    @media screen and (min-width: 1680px) {
        margin-right: 40px;

    }

    @media screen and (max-width: 1679px) {
        margin: 0;
        padding-bottom: 40px;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: $text-color-white;
    }

    @media screen and (max-width: 767px) {
        margin: 0;
        padding-bottom: 40px;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: $text-color-white;
    }
}

.semestr-list {

    @media screen and (min-width: 1680px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 1679px) {
        display: flex;
        margin-top: 4px;
        padding: 0;
        padding-left: 113px;
    }


    @media screen and (max-width: 767px) {

        flex-direction: column;
        margin-top: 4px;
        margin-left: -15px;
        padding-left: 26px;
    }
}


.semestr-list__item:not(:last-child) {

    @media screen and (max-width: 1679px) {
        width: 152px;
        margin-right: 32px;
    }
}

.grammar,
.vocabulary,
.writing {
    color: $accent-color;

    @media screen and (min-width: 1680px) {
        display: block;
        margin-top: 24px;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.65;
        letter-spacing: 0.08em;
    }

    @media screen and (max-width: 1679px) {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.08em;
    }

    @media screen and (max-width: 767px) {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.65;
        letter-spacing: 0.08em;
    }

}
.grammar::before,
.vocabulary::before,
.writing::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 2px;
    margin-right: 5px;
    background-color: $accent-color;

}

.grammar-list__item,
.vocabulary-list__item,
.writing-list__item {
    color: $text-color-lightgrey;

    @media screen and (max-width: 1679px) {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.08em;
    }

    @media screen and (min-width: 1680px) {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.08em;

    }
}

.semestr-list__numbers {
    @media screen and (min-width: 1680px) {
        font-weight: 700;
        font-size: 30px;
        line-height: 0.93;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 1679px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 2.0;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }
}

.program-list::after {
    opacity: 0.5;

    @media screen and (max-width: 1679px) {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 368px;
        height: 268px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        background-image:
            url('../images/program-tablet-min.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url("../images/program-mobile@2x-min.jpg");
        }
    }
    @media screen and (min-width: 1680px) {
        position: absolute;
        content: '';
        width: 684px;
        height: 381px;
        bottom: 0;
        left: 0;  
        transform: translateY(207px);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
         background-image:
            url("../images/program-desktop-min.jpg");

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url("../images/program-desktop@2x-min.jpg");
        
        }
    }
    @media screen and (max-width: 767px) {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 150px;
        height: 137px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    background-image:
        url('../images/program-mobile-min.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url('../images/program-mobile@2x-min.jpg');
        } 
    }   
}
