    $main-font:'Roboto',sans-serif;
    $logo-font:'Raleway', sans-serif;
    $main-text-color: #212121;
    $secondary-text-color:#757575;
    $primary-white-color: #ffffff;
    $contact-color:rgba(255, 255, 255, 0.6);
    $accent-color: #2196F3;
    $dark-color: #2F303A;
    $gray--color: #F5F4FA;
    $focus-color: #188CE8;
    $icon-color: #AFB1B8;
    $form-bg-color: rgba(33, 33, 33, 0.2);
    $border-main-color: #ECECEC;
    $placeholder-color: rgba(255, 255, 255, 0.6);
    $border-title-color: #EEEEEE;